/*Author:Nathan Siu
  File name: style.css
  File Description: css for the calculator UI 
  Date: 1/31/2017*/

#outputScreen{
	height:100px; font-size:50px; text-align: right;
	
}
#number{
	font-size:125%;
}
#function{
	font-size:125%;
}
#DecimalPoint{
	font-size:125%;
	
}
#Equals{
	font-size:125%;
	
}
#gridc{
	padding-top:5px;
}
#zero{
	font-size:125%;
	
}